<h2>Home Page after logout</h2>

<ul>

    <% if(locals.user){ %>
      <h4> User Details </h4>
      <li> <%=user.name %>  </li>
      <li> <%=user.email %></li>
      <li>
        <a href="/userLogout">LogOut</a>
      </li>
    <%} else {%>
      <li>
        <button>
          <a href="/userSignUp">SignUp</a>
       </button>
      </li>
      <li>
        <button>
         <a href="/userSignIn">SignIn</a>
       </button>
      </li>
      
    <%} %>
   </ul>