 <h1>User Profile Page </h1>

 <a href="/userLogout">
    <input type="submit" value="Logout">
 </a>

 <h2>Who Login to User Profile</h2>
 <p>user name is = <%= user.name %></p>
 <p>user email id is = <%= user.email %></p>
 <p>user unique id is = <%=user.id %></p>

 